<div class = "outer-container">
	<div class ="outer-wrapper">	
		<div class = "inner-wrapper">
			<h1 class = "primary">WATCH THE EVOLUTION:</h1>
			<p class = "secondary">Ladies and Gentelmen, this is my blog. It evolves (alot).</p>
			<p class = "tertiary">As I embark on a journey to learn Ruby on Rails, html, css, JavaScript, jQuery, and AJAX this site will be in a perpetual state of development. </br>
			I will be adding features and more often than not, tearing apart existing code as a means of experimenting, having fun, and of course to learn!</br> Feel free to snoop around and read through my struggles and progress on my blog. </p>
		</div>
		<div class = "main-wrapper">
			<div class = "content-box">	
				
				<div class = "content-image">
					<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
				</div>
				<div class = "content-text">
					<h3>THIS IS THE BOX TITLE</h3>
					<p>This is a description of what my blog post would be about. This is a description of what my blog post would be about. This is a description of what my blog post would be about.</p>
					<%#= link_to "Read More", post_path(@posts) %>
				</div>
			</div>

			<div class = "content-box">	
				
				<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
			</div>

			<div class = "content-box">	
				
				<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
			</div>
				
		</div>
	</div>
</div>