<div class = "outer-container">
	<div class ="outer-wrapper">	
		<div class = "inner-wrapper">
			<h1>LET ME TELL YOU A SECRET</h1>
		</div>
		<div class = "main-wrapper">
			<div class = "content-box">	
				
				<div class = "content-image">
					<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
				</div>
				<div class = "content-text">
					<h3>THIS IS THE BOX TITLE</h3>
					<p>This is a description of what my blog post would be about. This is a description of what my blog post would be about. This is a description of what my blog post would be about.</p>
					<%#= link_to "Read More", post_path(@posts) %>
				</div>
			</div>

			<div class = "content-box">	
				
				<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
			</div>

			<div class = "content-box">	
				
				<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
			</div>
				
		</div>
	</div>
</div>