/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#body {
	background-color: #FFF;
	/*background: url('/assets/pw_maze_white.png');*/
}

.header {
	width: 100%;
	height: 80px;
	padding-top: 40px;
	background-color: #FFF
}

.title {
	display: inline-block;
	margin-left: 250px;
}

.nav {
	text-align: center;
	display: inline-block;
}

.nav ul {
	list-style: none;
	display: inline-block;
}

.nav ul li {
	display: inline;
	font-size: 30px;
	color: #57112c;
	padding: 0 10px;
}

.circle {
	border-radius: 66px;
	border: 5px double #ccc;
	font-size: 20px;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	width: 100px;
	height: 100px;
	background-color: #aa2058;
	color: #fff;
	display: inline-block;
	margin-left: 130px;
	/*position: ;*/
}

.circle a.two {display:none}
.circle a:hover .one{display:none}
.circle a:hover .two{display:block}


.outer-container {
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	background-color: #4ca8a1;
}

.outer-wrapper {
	width: 100%;
}

.inner-wrapper {
	width: 1024px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	padding-left: 10px;
}


.main-wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -40px;
	padding: 20px 0;
	background-color: #FFF;
}

.content-box {
	width: 300px;
	height: 475px;
	float: left;
	padding-left: 20px;
/*	border: black 1px solid;*/
	position: relative;
}

.content-text h3 {
	vertical-align: baseline;
	font-size: 100%;
	font-family: helvetica;
	color: #aa2058;
}

.content-text p {
	color: #444;
}











