<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body id = "body">
	<div class ="header">
		<div class = "title">
			<h3> meblog</h3>
		</div>
		<div class = "nav">
		<ul>
			<li>Blog Posts</li>
			<li>Portfolio</li>
			<li>Resume</li>
			<li class = "nav-contact">
				<div class = "circle"><p>Let's Chat!</p></div>
			</li>
		</ul>
		</div>
	</div>

	<div class = "outer-container">
		<div class ="outer-wrapper">	
			<div class = "inner-wrapper">
				<h1>LET ME TELL YOU A SECRET</h1>
			</div>
			<div class = "main-wrapper">
				<div class = "content-box">	
					
					<div class = "content-image">
						<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
					</div>
					<div class = "content-text">
						<h3>THIS IS THE BOX TITLE</h3>
						<p>This is a description of what my blog post would be about. This is a description of what my blog post would be about. This is a description of what my blog post would be about.</p>
						<%= link_to "Read More", post_path(@posts) %>
					</div>
				</div>

				<div class = "content-box">	
					
					<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
				</div>

				<div class = "content-box">	
					
					<img src = "http://viximo.com/sites/default/files/viximo-mobile2.png">
				</div>
					<%#= yield %>	
			</div>
		</div>
	</div>

</body>
</html>
